<div{{{tern id (cat " id=" "'" id "'") ""}}} class='{{class}} mdl-layout mdl-js-layout{{tern drawer-fixed " mdl-layout--fixed-drawer " ""}}{{tern header-fixed " mdl-layout--fixed-header" ""}}{{tern tabs-fixed " mdl-layout--fixed-tabs" ""}}{{tern no-button " mdl-layout--no-drawer-button" ""}}{{tern no-desktop " mdl-layout--no-desktop-drawer-button" ""}}'>
  {{> @partial-block}}
</div>
