<div{{{tern id (cat " id=" "'" id "'") ""}}} class='{{class}} mdl-textfield mdl-js-textfield{{tern label-float " mdl-textfield--floating-label" ""}}{{tern expand " mdl-textfield--expandable" ""}}{{tern invalid " is-invalid" ""}}'>
  {{> @partial-block}}
</div>
